Repository acm-ucr/skate-club-website, pull requests merged in 2024-11, with the labels that each got.

#33 Created Skeleton Skating image for Calendar/events page
  public/assets/CalendarRamp.svg
  public/assets/CalendarSkeleton.svg
  public/assets/Rectangle.svg
  src/app/events/page.tsx
  src/components/calendar/SkeletonSkatingCalendar.tsx
Labels: calendar

#30 Added Ghost.svg , Edited GhostSkaterGallery.tsx.
  public/GalleryRamp.svg
  public/Ghost.svg
  src/app/gallery/page.tsx
  src/components/gallery/GhostSkaterGallery.tsx
Labels: gallery

#39 Made the images for Calendar page responsive
  src/components/calendar/SkeletonSkatingCalendar.tsx
Labels: Ready for Review

#34 Create Board Card Component
  src/components/board/BoardCard.tsx
Labels: board, Ready for Review

#46 Zach/404
  package-lock.json
  package.json
  src/app/not-found.tsx
Labels: enhancement

#55 Responsified Navbar
  src/app/layout.tsx
  src/components/Navbar.jsx
Labels: enhancement

#54 Zach/boards skater ramp
  public/assets/Droopy.svg
  src/components/board/BoardsSkater.tsx
Labels: board

#56 Alton qian/calendar thingy
  components.json
  eslint.config.mjs
  package-lock.json
  package.json
  public/assets/BetterCalendarThingy.svg
  public/assets/Skate_LOGO.webp
  src/app/calendar/page.tsx
  src/app/globals.css
  src/components/Navbar.jsx
  src/components/calendar/SkateCalendar.tsx
  src/components/ui/button.tsx
  src/components/ui/calendar.tsx
  src/lib/utils.ts
  tailwind.config.ts
Labels: calendar
