Repository acm-ucr/skate-club-website, pull requests merged in 2024-10, with the labels that each got.

#21 Created About Us text for board
  src/app/about/page.tsx
  src/components/about/AboutUsText.tsx
Labels: about

#15 Risa/meet the board
  src/app/board/page.tsx
  src/components/board/MeetTheBoard.tsx
Labels: board, Ready for Review

#18 Zach/gallery
  src/app/gallery/page.tsx
  src/components/gallery/Gallery.tsx
  src/components/gallery/GalleryHeader.tsx
Labels: gallery, Adress Comments
